@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
.logo-menu {
    font-size: 26px !important;
    font-family: 'Gloria Hallelujah', cursive;
}

.nav-link {
    font-size: 18px !important;
}

section {
    padding: 60px 0;
}

.sec-paisagem {
    min-height: 99vh;
}

.sec-paisagem .container {
    padding-top: 50vh;
    color: #fff;
}

.sec-paisagem img {
    position: fixed;
    z-index: -1;
    top: 52px;
    width: 100%;
    height: 98vh;
}

.sec-sobre {
    z-index: 1;
    background-color: #f3f3f3;
}

.sec-sobre img {
    width: 200px;
    height: 200px;
    padding: 4px;
    border-radius: 50%;
    border: 1px solid #17A2B8;
    margin: 20px;
}

.sec-projeto {
    background-color: #e6e6e6;
}

.sec-projeto img {
    width: 100%;
    margin: 15px 0;
    box-shadow: 2px 2px 5px #666;
}

.sec-projeto img:hover {
    width: 101%;
    transition: all 150ms ease-out;
}

.img-text {
    padding: 50px 0 0;
}

.sec-contato {
    background-color: #f3f3f3;
}

.footer {
    border-top: 1px solid #17A2B8;
    padding-top: 30px;
    z-index: 1;
    background-color: #f3f3f3;
}

.footer h4 {
    color: #17A2B8;
}

.footer a {
    color: #138496;
}

.navbar a {
    color: #fff;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .sec-paisagem img {
        position: center;
        width: 768px;
    }
}